numpy>=1.19.0
pandas~=1.2.4
tensorflow>2.5.0
pytest
requests~=2.25.1
pyreadr~=0.4.2
scikit-learn==1.1.1
statsmodels==0.13.5
fastcache==1.1.0
tensorflow-addons
gpflow~=2.2.1
scipy~=1.8.1
joblib~=1.1.1
